html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'IBM Plex Mono', monospace;
    background-color: #002833;
    color: #839495;
}

pre {
    font-family: 'IBM Plex Mono', monospace;
    color: #839495;
}

pre.hello-banner {
    color: #2aa197;
}

.color-blue {
    color: #268ad2;
}

.color-green {
    color: #859901;
}

.color-red {
    color: #dc312e;
}

.color-magenta {
    color: #d33582;
}

ul.star-list {
    list-style-type: none;
}

ul.star-list li:before {
    content: '*';
    width: 1em !important;
    margin-left: -1em;
    display: inline-block;
}

#messages p {
    color: #586d74;
}

#messages p.focus {
    background-color: #003440;
    padding: 5px;
    border-right: 3px solid red;
}

#messages a:hover {
    text-decoration: none;
    border-bottom: 1px dashed;
}

.command-prompt {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #003440;
}

.command-prompt .form-control {
    color: #839495;
    background-color: transparent;
    border: none;
}

.command-prompt .form-control:focus {
    color: #839495;
    background-color: transparent;
    box-shadow: none;
}

.command-prompt .input-group-text {
    color: #839495;
    background-color: transparent;
    border: none;
    padding-right: 0;
}